{% extends "layout/layout.html" %} {% block title %} {{ user.username }}'s
Profile {% endblock %} {% block body %}
<section class="section hero is-fullheight">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-narrow is-flex is-justify-content-center">
        <aside class="menu is-hidden-touch">
          <p class="menu-label">Profile</p>
          <ul class="menu-list">
            <li>
              <a href="/user/{{ user.username }}/friends"
                >Friends <span class="icon"><i class="fas fa-users"></i></span
              ></a>
            </li>
            <li>
              <a href="/user/{{ user.username }}/posts"
                >Posts <span class="icon"><i class="fas fa-edit"></i></span
              ></a>
            </li>
            <li>
              <a href="/user/{{ user.username }}/settings"
                >Settings <span class="icon"><i class="fas fa-cog"></i></span
              ></a>
            </li>
          </ul>
        </aside>
        <figure class="image is-128x128 is-hidden-desktop">
          <img src="{{ user.profile_img }}" alt="Profile Picture" />
        </figure>
      </div>
      <div class="column is-flex-grow-1">
        <h1 class="title is-2">Hi, {{ username }}!</h1>
        <p class="subtitle">Welcome to your profile page.</p>
        <div class="content">
          <p>
            Here you can see your profile information and manage your settings.
            Tell us a little about yourself! What are you passionate about?
          </p>
          <figure class="image is-128x128 is-hidden-touch">
            <img src="{{ user.profile_img }}" alt="Profile Picture" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
