* {
  color: inherit;
}

.latest-blogs {
  width: fit-content;
  margin-inline: auto;
}

.title {
  color: inherit;
}

p.buttons {
  width: fit-content;
  margin-inline: auto;
}

div.hero-body {
  background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(40%);
}
